*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: "ADLaM Display", cursive;
  background-image: linear-gradient(to bottom, purple, black, black);
  margin: 0;
}

h1 {
  font-size: 5rem;
  margin: 4vh 10vw;
  text-align: center;
  background: linear-gradient(to right, red, red, yellow, yellow, green, green);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.round-winner > p {
  text-align: center;
  margin-top: 2em;
  margin-bottom: -0.5em;
  font-size: 2rem;
}

.scoreboard-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.scoreboard-container img {
  width: 200px;
}

.player-sprite, .computer-sprite {
  display: flex;
  align-items: center;
  gap: 20px;
}

.player-sprite > p {
  color: green;
  font-size: 2rem;
}

.computer-sprite > p {
  color: red;
  font-size: 2rem;
}

.scoreboard > p {
  background-color: lightgray;
  font-size: 4rem;
  padding: 20px 40px;
  border: 5px solid grey;
}

.choices-container {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.choices-container img {
  width: 120px;
}

.choices-container img:hover {
  cursor: pointer;
}

.log-container p {
  width: 700px;
  height: 200px;
  border: 5px solid grey;
  background-color: white;
  margin: 40px auto 0;
}

footer {
  text-align: center;
  color: white;
  margin-top: 20px;
  padding: 4px;
}

footer > a {
  color: white;
}